In [2]:
import pandas as pd

data = pd.read_csv("ppi_network_entrez.sif.txt_default_node_1.csv", sep=',')
data.head(2)

,active.cases.percentage,expression.mappings,expression_data_geneId_binary.txt - % active/dysregulated,expression_data_geneId_binary.txt - Total active/dysregulated,HGNC,in.negative.list,in.positive.list,is.exception,is.mapped.to.datasets,name,node.hits,node.hits.normalized,node.total.hits,node.total.hits.normalized,selected,shared name
0,0.0,0,0.0,0,EP300,False,False,True,no,2033,0,0.0,0,0.0,False,2033
1,0.0,0,0.0,0,TSG101,False,False,True,no,7251,0,0.0,0,0.0,False,7251

In [3]:
data = data.HGNC
data.head()

0     EP300
1    TSG101
2      BAG1
3       MET
4      GRK2
Name: HGNC, dtype: object

In [5]:
data.to_csv("HGNC.csv", index=False)