## Benjamini & Hochberg (False discovery rate) and cut-off = 0.05

In [29]:
import pandas as pd
import numpy as np

data = pd.read_csv("GSE175361.top.table.tsv", sep='\t')
data.head()

,ID,adj.P.Val,P.Value,t,B,logFC,RANGE_STRAND,RANGE_START,RANGE_END,GB_ACC,SPOT_ID,RANGE_GB
0,17092081,0.0169,5.700000e-07,-8.648936,5.17208,-0.941040,-,3824127.0,4348392.0,NM_001042413,chr9:3824127-4348392,NC_000009.11
1,16729986,0.0169,6.310000e-07,-8.575636,5.10491,-1.635887,+,92085262.0,92629636.0,NM_001008781,chr11:92085262-92629636,NC_000011.9
2,16803754,0.0275,1.540000e-06,-7.946471,4.49654,-1.400701,+,81071684.0,81244117.0,NM_018689,chr15:81071684-81244117,NC_000015.9
3,16886717,0.0402,3.000000e-06,-7.496557,4.02470,-1.542953,+,158114110.0,158170723.0,NM_014568,chr2:158114110-158170723,NC_000002.11
4,16722720,0.0432,4.070000e-06,7.296584,3.80460,0.759102,+,19372271.0,20143147.0,NM_001244963,chr11:19372271-20143147,NC_000011.9

In [30]:
data = data.drop(['RANGE_START','RANGE_END','SPOT_ID','RANGE_GB'], axis = 1)
data

,ID,adj.P.Val,P.Value,t,B,logFC,RANGE_STRAND,GB_ACC
0,17092081,0.0169,5.700000e-07,-8.648936,5.17208,-0.941040,-,NM_001042413
1,16729986,0.0169,6.310000e-07,-8.575636,5.10491,-1.635887,+,NM_001008781
2,16803754,0.0275,1.540000e-06,-7.946471,4.49654,-1.400701,+,NM_018689
3,16886717,0.0402,3.000000e-06,-7.496557,4.02470,-1.542953,+,NM_014568
4,16722720,0.0432,4.070000e-06,7.296584,3.80460,0.759102,+,NM_001244963
...,...,...,...,...,...,...,...,...
53612,16994211,1.0000,1.000000e+00,-0.000051,-5.82481,-0.000013,-,NR_033906
53613,16876797,1.0000,1.000000e+00,-0.000024,-5.82481,-0.000003,+,NR_038432
53614,16859099,1.0000,1.000000e+00,0.000018,-5.82481,0.000003,+,NaN
53615,16890027,1.0000,1.000000e+00,0.000018,-5.82481,0.000002,+,NaN
53616,16847238,1.0000,1.000000e+00,-0.000014,-5.82481,-0.000002,-,NM_001100595

if : p-value >= cut-off 

--> accept 'No significant changes in the expression levels' [ H0 ]
    
    OR
    
--> accept 'Potential significant changes (upregulation/downregulation)' [ H1 ]

In [32]:
data["Any_Changes"] = data["adj.P.Val"].apply(lambda x: 'H0 : No significant changes' if x >= 0.05 else 'H1 : Potential significant changes ')
data[10:20]

,ID,adj.P.Val,P.Value,t,B,logFC,RANGE_STRAND,GB_ACC,Any_Changes
10,16849268,0.0461,0.000009,6.759768,3.18073,1.268932,-,NM_134268,H1 : Potential significant changes
11,17111674,0.0464,0.000012,-6.616277,3.00559,-1.055095,-,NaN,H1 : Potential significant changes
12,16908897,0.0464,0.000012,-6.615135,3.00419,-1.181742,-,NM_004438,H1 : Potential significant changes
13,16821377,0.0464,0.000013,-6.573986,2.95329,-1.240595,+,NaN,H1 : Potential significant changes
14,16994618,0.0464,0.000013,6.564084,2.94100,0.837740,-,NM_012334,H1 : Potential significant changes
15,16824352,0.0578,0.000017,6.391554,2.72404,1.055932,-,NM_022166,H0 : No significant changes
16,16723353,0.0632,0.000020,-6.301599,2.60882,-0.955275,+,NM_001077242,H0 : No significant changes
17,17019728,0.0723,0.000027,-6.121620,2.37396,-2.499280,-,NaN,H0 : No significant changes
18,17061398,0.0723,0.000028,6.096317,2.34048,1.888680,-,NaN,H0 : No significant changes
19,16679142,0.0723,0.000029,-6.080102,2.31896,-0.662200,+,NM_001035,H0 : No significant changes